{% extends "base.html" %}

{% block content %}
  {{ super() }}

  {% if page.meta.comments != false %}
    <br><br> <hr>     <h2 id="__comments">评论</h2>
    
    <script src="https://giscus.app/client.js"
        data-repo="iwtesf/my-note"
        data-repo-id="R_kgDORG5Zpg"
        data-category="Announcements"
        data-category-id="DIC_kwDORG5Zps4C1xdV"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
    </script>
  {% endif %}
{% endblock %}